<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Usuario</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a href="/unidade/unidadeprofile"><i class="fa fa-reply text-primary"></i> Voltar</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{>_msgAdm}}
                        <div class="col-md-3 col-sm-3  profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                <!-- Current avatar -->
                                {{#if profile.image}}
                                    <img class="img-responsive avatar-view" src="/images/users/{{profile.image}}" width="150px"
                                height="150px" alt="Avatar" title="Change the avatar">
                                {{else}}
                                    <img class="img-responsive avatar-view" src="/images/users/user.jpg" width="150px" height="150px"
                                    alt="Avatar" title="Change the avatar">
                                {{/if}}
                                </div>
                            </div>
                            <h3>{{profile.name}}</h3>
                            <ul class="list-unstyled user_data">
                                <li><i class="fa fa-university user-profile-icon"></i> {{profile.ome.dataValues.nome}}
                                    <ul><i class="fa fa-hand-o-right user-profile-icon"></i> {{profile.PcontasOme.dataValues.nome}}</ul>
                                </li>
                                <li><i class="fa fa-barcode user-profile-icon"></i> {{profile.matricula}}</li>
                                <li><i class="fa fa-user user-profile-icon"></i> {{profile.loginsei}}</li>
                                <li><i class="fa fa-phone user-profile-icon"></i> {{profile.telefone}}</li>
                                <li class="m-top-xs"><i class="fa fa-at user-profile-icon"></i><a>{{profile.email}}</a></li>
                            </ul>
                                <a class="btn btn-success" style="color: #ffffff;"><i class="fa fa-user m-right-xs"></i> Situação: {{profile.situation.dataValues.nameSituation}}</a>
                            <br />
                        </div>

                        <div class="col-md-9 col-sm-9 ">
                            <!-- start recent activity -->
                            <div class="col-md-12 ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2><small>Editar Senha</small></h2>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br />
                                        <form class="form-horizontal form-label-left"
                                            action="/unidade/unidadeprofile/edit-password" method="post">

                                            <input type="hidden" name="id" id="id" value="{{data.id}}">

                                            <div class="form-group row ">
                                                <label class="control-label col-md-3 col-sm-3 ">Senha</label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <input name="password" id="password" type="password"
                                                        class="form-control"
                                                        placeholder="Digite a Nova Senha"
                                                        value="{{data.password}}">
                                                </div>
                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                <div class="col-md-9 col-sm-9  offset-md-3">
                                                    <input type="submit" value="Editar Senha" class="btn btn-success" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end recent activity -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->