<style>
    th,
    td {
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .td_laranja {
        color: orange;
    }

    .td_verde {
        color: green;
    }

    .td_vermelho {
        color: red;
    }

    .contas {
        color: orange;
    }

    .td_unidades {
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #911313;
        color: white;
        text-align: center;
    }

    tr:hover {
        background-color: #f5f5f5
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>

<!-- page content -->
<div class="right_col" role="main">

    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Situações</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">

                            <!-- LISTA GERAL DOS EVENTOS -->
                            <div class="col-sm-12 mail_view">
                                <a href="/situations/add" class="btn btn-sm btn-danger btn-block" type="button">Cadastrar
                                    Situação</a>
                                <div class="inbox-body">
                                    <div class="view-mail card-box table-responsive">
                                        {{>_msgAdm}}
                                        <table id="datatable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Nome</th>
                                                    <th>Ações:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each situations}}
                                                <tr>
                                                    <td>{{id}}</td>
                                                    <td>{{nameSituation}}</td>
                                                    <td>
                                                        <a href="/situations/view/{{id}}" title="Editar Registro"><i
                                                                class="fa fa-eye"></i></a>
                                                        <a href="/situations/edit/{{id}}" title="Editar Registro"><i
                                                                class="fa fa-edit"></i></a>
                                                        <a href="/situations/delete/{{id}}"
                                                            onclick="return confirm('Tem certeza que deseja excluir este registro?')"
                                                            title="Excluir Registro"><i
                                                                class="fa fa-trash text-danger"></i></a>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /LISTA GERAL DOS EVENTOS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /page content -->