<style>
    th,
    td {
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .td_laranja {
        color: orange;
    }

    .td_verde {
        color: green;
    }

    .td_vermelho {
        color: red;
    }

    .contas {
        color: orange;
    }

    .td_unidades {
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    .td_unidades_right {
        border-bottom: 1px solid #ddd;
        text-align: right;
    }

    .th_dist {
        background-color: #015050;
        color: white;
        text-align: center;
    }

    .th_event {
        background-color: #191970;
        color: white;
        text-align: center;
    }

    .btn_event {
        background-color: #191970;
        color: white;
        text-align: center;
    }

    tr:hover {
        background-color: #f5f5f5
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>

<script>
    function downloadXLS() {
    // ID do evento que você deseja consultar
    const idEvento = {{profile.omeId}}; // Substitua pelo ID correto

    // Fazendo uma requisição para o servidor para obter o arquivo XLS
    fetch(`/unidade/unidadepjes/gerar-arquivo-xls?id=${idEvento}`)
        .then(response => response.blob())
        .then(blob => {
            // Criando um link temporário para o arquivo
            const url = window.URL.createObjectURL(new Blob([blob]));
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = `SJES_{{profile.ome.dataValues.nome}}_{{nomeMes}}_2024_${idEvento}.xlsx`;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
        })
        .catch(error => console.error('Erro ao fazer download do arquivo:', error));
}

</script>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>PJES | {{nomeMes}}_{{nomeAno}}</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <a onclick="downloadXLS()"
                                class="btn btn pull-right" style="margin-right: 5px;"><i
                                    class="fa fa-download"></i> Prestar de Contas</a>
                                                        
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- top tiles -->
                        <div class="row" style="display: inline-block; width: 100%;">
                            <div class="tile_count" style="margin-top: 1px;">
                                <div style="margin-top: 1px; margin-bottom: 1px;"
                                    class="col-md-2 col-sm-4 col-xs-6  tile_stats_count">
                                    <span class="count_top"><i class="fa fa-star"></i> Saldo Cotas Oficiais</span>
                                    <div style="font-size: 35px;" class="count green">{{saldocotaOfGeral}}</div>
                                    <span class="count_bottom"><i class="">Total Oficias : {{totalcotaOfDistGeral}} </i></span>
                                </div>
                                <div style="margin-top: 1px; margin-bottom: 1px;"
                                    class="col-md-2 col-sm-4 col-xs-6  tile_stats_count">
                                    <span class="count_top"><i class="fa fa-angle-double-up"></i> Saldo Cotas Praças</span>
                                    <div style="font-size: 35px;" class="count green">{{saldocotaPrcGeral}}</div>
                                    <span class="count_bottom"><i class="">Total Praças :{{totalcotaPrcDistGeral}} </i></span>
                                </div>
                                <div style="margin-top: 1px; margin-bottom: 1px;"
                                    class="col-md-2 col-sm-4 col-xs-6  tile_stats_count">
                                    <span class="count_top contas"> Eventos</span>
                                    <div style="font-size: 35px;" class="count contas">{{queryPjes}}</div>
                                    <span class="count_bottom contas"><i>Autorizados</i></span>
                                </div>

                                
                                <div style="margin-top: 1px; margin-bottom: 1px;"
                                    class="col-md-2 col-sm-4 col-xs-6  tile_stats_count">
                                    <span class="count_top red"><i class="fa fa-thumbs-o-down red"></i> Excesso (R$)</span>
                                    <div style="font-size: 25px;" class="count red valor">{{valorttServExc}}</div>
                                    <span class="count_bottom red"><i class="">{{ttServExcOf}} Of</i> | <i class="">{{ttServExcPrc}}
                                            Prc</i></span>
                                </div>

                                <div style="margin-top: 1px; margin-bottom: 1px;"
                                    class="col-md-2 col-sm-4 col-xs-6  tile_stats_count">
                                    <span class="count_top red"><i class="fa fa-thumbs-o-down red"></i> Impedido</span>
                                    <div style="font-size: 35px;" class="count red">{{contagemImpedidos}}</div>
                                    <span class="count_bottom red"><i class="">Impedidos </i></span>
                                </div>

                                <div style="margin-top: 1px; margin-bottom: 1px;"
                                    class="col-md-2 col-sm-4 col-xs-6  tile_stats_count">
                                    <span class="count_top"><i class="fa fa-code-fork"></i> Pg Atrasado (R$)</span>
                                    <div style="font-size: 25px;" class="count purple valor">{{{totalFinalDistRen}}}</div>
                                    <span class="count_bottom purple"><i class="">{{{totalcotaOfDistRen}}} Of</i> | <i class="">{{{totalcotaPrcDistRen}}}
                                            Prc</i></span> 
                                </div>
                                
                            </div>
                        </div>
                        <!-- /top tiles -->

                        <div class="">
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <div class="row">

                                                <!-- /INICIO DIRETORIAS -->
                                                <div class="col-sm-5 mail_list_column " style="font-size: 9px;">
                                                    <button id="compose"
                                                        style="background-color:#015050; border-color:white; color:white"
                                                        class="btn btn-sm btn-block" type="button">{{profile.ome.dataValues.nome}}</button>

                                                   
                                                    <!-- INICIO UNIDADE -->
                                                    <div>
                                                        <div class="mail_list">
                                                            <h3>OME</h3>
                                                            <div class="mail_list" style="width:100%; display: flex;">
                                                                <!-- /INICIO DISTRIBUIÇÃO OME -->
                                                                    <div class="col-md-6" style="overflow-x:auto; padding-right: 5px; padding-left: 0px; solid #ddd; width:100%">
                                                                        <table  style="width:100%; font-size: 9px">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-up"></i>
                                                                                        Distrib</th>
                                                                                    <th colspan="3">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfDistUnidade}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcDistUnidade}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {{#each total_cotadistunidade}}
                                                                                <tr>
                                                                                <td>{{'ome.nome'}}</td>
                                                                                <td class="td_unidades_right">{{total_cotaofdist}}</td>
                                                                                <td class="td_unidades_right"><i class="valor">{{total_cotaofdist_multiplicado}}</i></td>
                                                                                <td class="td_unidades_right">{{total_cotaprcdist}}</td>
                                                                                <td class="td_unidades_right"><i class="valor">{{total_cotaprcdist_multiplicado}}</i></td>
                                                                                </tr>
                                                                            {{/each}}
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                <!-- /FIM DISTRIBUIÇÃO OME -->

                                                                <!-- /INICIO EXECUÇÃO OME -->        
                                                                    <div class="col-md-6" style=" overflow-x:auto; padding-right: 0px; padding-left: 1px; solid #ddd; width:100%">
                                                                        <table style="width:100%; font-size: 9px">
                                                                            <thead>
                                                                                <tr>
                                                                                    
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-down"></i>
                                                                                        Executado</th>
                                                                                    <th colspan="4">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfExeUnidade}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcExeUnidade}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-down"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="3"><i class="fa fa-level-down"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist"><i></i></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {{#each total_cotaexeunidade}} 
                                                                                    <tr>
                                                                                        <td class="">{{'ome.nome'}}</td>
                                                                                        <td class="">{{total_cotaofexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaofexe_multiplicado}} </i></td>

                                                                                        <td class="">{{total_cotaprcexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaprcexe_multiplicado}} </i></td>
                                                                                        
                                                                                    </tr>
                                                                                {{/each}}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    
                                                                <!-- /FIM EXECUÇÃO OME -->
                                                            </div>

                                                            <!-- /INICIO SALDO OME -->
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Planejado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalDistUnidade}} </i></span></small></h3>
                                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Executado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalExeUnidade}} </i></span></small></h3>
                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Saldo:<small><span class="count_bottom"><i
                                                                            class="valor">{{saldoFinalUnidade}} <i
                                                                                class="fa fa-sort-asc"></i></i></span></small>
                                                            </h3>
                                                            </br></br>
                                                            <!-- /FIM SALDO OME -->
                                                        </div>
                                                    </div>
                                                    <!-- FIM DPO -->   

                                                    

                                                    </br></br>

                                                    <div class="x_title">
                                                        <h2>CONVENIOS PMPE</h2>
                                                        <ul class="nav navbar-right panel_toolbox">                            
                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    </br></br>


                                                    <!-- INICIO PE -->
                                                    <div>
                                                        <div class="mail_list">
                                                            <h3>PATRULHA ESCOLAR </h3>
                                                            <div class="mail_list" style="width:100%; display: flex;">
                                                                <!-- /INICIO DISTRIBUIÇÃO PE -->
                                                                    <div class="col-md-6" style="overflow-x:auto; padding-right: 5px; padding-left: 0px; solid #ddd; width:100%">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-up"></i>
                                                                                        Distrib</th>
                                                                                    <th colspan="3">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfDistPe}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcDistPe}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {{#each total_cotadistpe}}
                                                                                <tr>
                                                                                <td class="">{{'ome.nome'}}</td>
                                                                                <td class="">{{total_cotaofdist}}</td>
                                                                                <td class=""><i class="valor">{{total_cotaofdist_multiplicado}}</i></td>

                                                                                <td class="td_unidades_right">{{total_cotaprcdist}}</td>
                                                                                <td class="td_unidades_right"><i class="valor">{{total_cotaprcdist_multiplicado}}</i></td>
                                                                                </tr>
                                                                            {{/each}}
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                <!-- /FIM DISTRIBUIÇÃO PE -->

                                                                <!-- /INICIO EXECUÇÃO PE -->        
                                                                    <div class="col-md-6" style=" overflow-x:auto; padding-right: 0px; padding-left: 1px; solid #ddd; width:100%">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-down"></i>
                                                                                        Executado</th>
                                                                                    <th colspan="4">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfExePe}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcExePe}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-down"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="3"><i class="fa fa-level-down"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist"><i></i></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {{#each total_cotaexepe}} 
                                                                                    <tr>
                                                                                        <td class="">{{'ome.nome'}}</td>
                                                                                        <td class="">{{total_cotaofexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaofexe_multiplicado}} </i></td>

                                                                                        <td class="">{{total_cotaprcexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaprcexe_multiplicado}} </i></td>
                                                                                        
                                                                                    </tr>
                                                                                {{/each}}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    
                                                                <!-- /FIM EXECUÇÃO PE -->
                                                            </div>

                                                            <!-- /INICIO SALDO PE -->
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Planejado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalDistPe}} </i></span></small></h3>
                                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Executado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalExePe}} </i></span></small></h3>
                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Saldo:<small><span class="count_bottom"><i
                                                                            class="valor">{{saldoFinalPe}} <i
                                                                                class="fa fa-sort-asc"></i></i></span></small>
                                                            </h3>
                                                            </br></br>
                                                            <!-- /FIM SALDO PE -->
                                                        </div>
                                                    </div>
                                                    <!-- FIM PE -->

                                                    <!-- INICIO TI -->
                                                    <div>
                                                        <div class="mail_list">
                                                            <h3>TERMINAIS INTEGRADOS </h3>
                                                            <div class="mail_list" style="width:100%; display: flex;">
                                                                <!-- /INICIO DISTRIBUIÇÃO TI -->
                                                                    <div class="col-md-6" style="overflow-x:auto; padding-right: 5px; padding-left: 0px; solid #ddd; width:100%">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-up"></i>
                                                                                        Distrib</th>
                                                                                    <th colspan="3">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfDistTi}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcDistTi}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {{#each total_cotadistti}}
                                                                                <tr>
                                                                                <td class="">{{'ome.nome'}}</td>
                                                                                <td class="">{{total_cotaofdist}}</td>
                                                                                <td class=""><i class="valor">{{total_cotaofdist_multiplicado}}</i></td>

                                                                                <td class="td_unidades_right">{{total_cotaprcdist}}</td>
                                                                                <td class="td_unidades_right"><i class="valor">{{total_cotaprcdist_multiplicado}}</i></td>
                                                                                </tr>
                                                                            {{/each}}
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                <!-- /FIM DISTRIBUIÇÃO TI -->

                                                                <!-- /INICIO EXECUÇÃO TI -->        
                                                                    <div class="col-md-6" style=" overflow-x:auto; padding-right: 0px; padding-left: 1px; solid #ddd; width:100%">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-down"></i>
                                                                                        Executado</th>
                                                                                    <th colspan="4">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfExeTi}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcExeTi}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-down"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="3"><i class="fa fa-level-down"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist"><i></i></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {{#each total_cotaexeti}} 
                                                                                    <tr>
                                                                                        <td class="">{{'ome.nome'}}</td>
                                                                                        <td class="">{{total_cotaofexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaofexe_multiplicado}} </i></td>

                                                                                        <td class="">{{total_cotaprcexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaprcexe_multiplicado}} </i></td>
                                                                                        
                                                                                    </tr>
                                                                                {{/each}}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    
                                                                <!-- /FIM EXECUÇÃO TI -->
                                                            </div>

                                                            <!-- /INICIO SALDO TI -->
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Planejado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalDistTi}} </i></span></small></h3>
                                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Executado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalExeTi}} </i></span></small></h3>
                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Saldo:<small><span class="count_bottom"><i
                                                                            class="valor">{{saldoFinalTi}} <i
                                                                                class="fa fa-sort-asc"></i></i></span></small>
                                                            </h3>
                                                            </br></br>
                                                            <!-- /FIM SALDO TI -->
                                                        </div>
                                                    </div>
                                                    <!-- FIM TI -->

                                                    <!-- INICIO CBTU -->
                                                    <div>
                                                        <div class="mail_list">
                                                            <h3>CBTU </h3>
                                                            <div class="mail_list" style="width:100%; display: flex;">
                                                                <!-- /INICIO DISTRIBUIÇÃO CBTU -->
                                                                    <div class="col-md-6" style="overflow-x:auto; padding-right: 5px; padding-left: 0px; solid #ddd; width:100%">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-up"></i>
                                                                                        Distrib</th>
                                                                                    <th colspan="3">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfDistCbtu}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcDistCbtu}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {{#each total_cotadistcbtu}}
                                                                                <tr>
                                                                                <td class="">{{'ome.nome'}}</td>
                                                                                <td class="">{{total_cotaofdist}}</td>
                                                                                <td class=""><i class="valor">{{total_cotaofdist_multiplicado}}</i></td>

                                                                                <td class="td_unidades_right">{{total_cotaprcdist}}</td>
                                                                                <td class="td_unidades_right"><i class="valor">{{total_cotaprcdist_multiplicado}}</i></td>
                                                                                </tr>
                                                                            {{/each}}
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                <!-- /FIM DISTRIBUIÇÃO CBTU -->

                                                                <!-- /INICIO EXECUÇÃO CBTU -->        
                                                                    <div class="col-md-6" style=" overflow-x:auto; padding-right: 0px; padding-left: 1px; solid #ddd; width:100%">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-down"></i>
                                                                                        Executado</th>
                                                                                    <th colspan="4">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfExeCbtu}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcExeCbtu}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-down"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="3"><i class="fa fa-level-down"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist"><i></i></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {{#each total_cotaexeCbtu}} 
                                                                                    <tr>
                                                                                        <td class="">{{'ome.nome'}}</td>
                                                                                        <td class="">{{total_cotaofexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaofexe_multiplicado}} </i></td>

                                                                                        <td class="">{{total_cotaprcexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaprcexe_multiplicado}} </i></td>
                                                                                        
                                                                                    </tr>
                                                                                {{/each}}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    
                                                                <!-- /FIM EXECUÇÃO CBTU -->
                                                            </div>

                                                            <!-- /INICIO SALDO CBTU -->
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Planejado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalDistCbtu}} </i></span></small></h3>
                                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Executado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalExeCbtu}} </i></span></small></h3>
                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Saldo:<small><span class="count_bottom"><i
                                                                            class="valor">{{saldoFinalCbtu}} <i
                                                                                class="fa fa-sort-asc"></i></i></span></small>
                                                            </h3>
                                                            </br></br>
                                                            <!-- /FIM SALDO CBTU -->
                                                        </div>
                                                    </div>
                                                    <!-- FIM CBTU -->

                                                    <!-- INICIO SEMOC -->
                                                    <div>
                                                        <div class="mail_list">
                                                            <h3>SEMOC </h3>
                                                            <div class="mail_list" style="width:100%; display: flex;">
                                                                <!-- /INICIO DISTRIBUIÇÃO SEMOC -->
                                                                    <div class="col-md-6" style="overflow-x:auto; padding-right: 5px; padding-left: 0px; solid #ddd; width:100%">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-up"></i>
                                                                                        Distrib</th>
                                                                                    <th colspan="3">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfDistSemoc}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcDistSemoc}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {{#each total_cotadistsemoc}}
                                                                                <tr>
                                                                                <td class="">{{'ome.nome'}}</td>
                                                                                <td class="">{{total_cotaofdist}}</td>
                                                                                <td class=""><i class="valor">{{total_cotaofdist_multiplicado}}</i></td>

                                                                                <td class="td_unidades_right">{{total_cotaprcdist}}</td>
                                                                                <td class="td_unidades_right"><i class="valor">{{total_cotaprcdist_multiplicado}}</i></td>
                                                                                </tr>
                                                                            {{/each}}
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                <!-- /FIM DISTRIBUIÇÃO SEMOC -->

                                                                <!-- /INICIO EXECUÇÃO SEMOC -->        
                                                                    <div class="col-md-6" style=" overflow-x:auto; padding-right: 0px; padding-left: 1px; solid #ddd; width:100%">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-down"></i>
                                                                                        Executado</th>
                                                                                    <th colspan="4">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfExeSemoc}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcExeSemoc}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-down"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="3"><i class="fa fa-level-down"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist"><i></i></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {{#each total_cotaexeSemoc}} 
                                                                                    <tr>
                                                                                        <td class="">{{'ome.nome'}}</td>
                                                                                        <td class="">{{total_cotaofexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaofexe_multiplicado}} </i></td>

                                                                                        <td class="">{{total_cotaprcexe}}</td>
                                                                                        <td class="td_unidades_right"><i class="valor">{{total_cotaprcexe_multiplicado}} </i></td>
                                                                                        
                                                                                    </tr>
                                                                                {{/each}}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    
                                                                <!-- /FIM EXECUÇÃO SEMOC -->
                                                            </div>

                                                            <!-- /INICIO SALDO SEMOC -->
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Planejado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalDistSemoc}} </i></span></small></h3>
                                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Executado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalExeSemoc}} </i></span></small></h3>
                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Saldo:<small><span class="count_bottom"><i
                                                                            class="valor">{{saldoFinalSemoc}} <i
                                                                                class="fa fa-sort-asc"></i></i></span></small>
                                                            </h3>
                                                            </br></br>
                                                            <!-- /FIM SALDO SEMOC -->
                                                        </div>
                                                    </div>
                                                    <!-- FIM SEMOC -->

                                                    <!-- INICIO ENEM -->
                                                    <div>
                                                        <div class="mail_list">
                                                            <h3>ENEM </h3>
                                                            <div class="mail_list" style="width:100%; display: flex;">
                                                                <!-- /INICIO DISTRIBUIÇÃO ENEM -->
                                                                    <div class="col-md-6" style="overflow-x:auto; padding-right: 5px; padding-left: 0px; solid #ddd; width:100%">
                                                                        <table style="width:100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th colspan="2"><i
                                                                                            class="fa fa-level-up"></i>
                                                                                        Distrib</th>
                                                                                    <th colspan="3">[ <i
                                                                                            class="fa fa-star"></i>: {{totalcotaOfDistEnem}} |
                                                                                        <i
                                                                                            class="fa fa-angle-double-up"></i>:
                                                                                        {{totalcotaPrcDistEnem}}]</th>
                                                                                </tr>
                                                                                <tr class="th_dist">
                                                                                    <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> OFICIAIS</th>
                                                                                    <th class="th_dist" colspan="2"><i class="fa fa-level-up"></i> PRAÇAS</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="th_dist">Und</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                    <th class="th_dist">Cota</th>
                                                                                    <th class="th_dist"><i></i> R$</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {{#each total_cotadistenem}}
                                                                                <tr>
                                                                                <td class="">{{'ome.nome'}}</td>
                                                                                <td class="">{{total_cotaofdist}}</td>
                                                                                <td class=""><i class="valor">{{total_cotaofdist_multiplicado}}</i></td>

                                                                                <td class="td_unidades_right">{{total_cotaprcdist}}</td>
                                                                                <td class="td_unidades_right"><i class="valor">{{total_cotaprcdist_multiplicado}}</i></td>
                                                                                </tr>
                                                                            {{/each}}
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                <!-- /FIM DISTRIBUIÇÃO ENEM -->

                                                                <!-- /INICIO EXECUÇÃO ENEM -->        
                                                                <div class="col-md-6" style=" overflow-x:auto; padding-right: 0px; padding-left: 1px; solid #ddd; width:100%">
                                                                    <table style="width:100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th colspan="2"><i
                                                                                        class="fa fa-level-down"></i>
                                                                                    Executado</th>
                                                                                <th colspan="4">[ <i
                                                                                        class="fa fa-star"></i>: {{totalcotaOfExeEnem}} |
                                                                                    <i
                                                                                        class="fa fa-angle-double-up"></i>:
                                                                                    {{totalcotaPrcExeEnem}}]</th>
                                                                            </tr>
                                                                            <tr class="th_dist">
                                                                                <th class="th_dist"  colspan="1"><i class="fa fa-university"></i></th>
                                                                                <th class="th_dist" colspan="2"><i class="fa fa-level-down"></i> OFICIAIS</th>
                                                                                <th class="th_dist" colspan="3"><i class="fa fa-level-down"></i> PRAÇAS</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="th_dist">Und</th>
                                                                                <th class="th_dist">Cota</th>
                                                                                <th class="th_dist"><i></i> R$</th>
                                                                                <th class="th_dist">Cota</th>
                                                                                <th class="th_dist"><i></i> R$</th>
                                                                                <th class="th_dist"><i></i></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {{#each total_cotaexeenem}} 
                                                                                <tr>
                                                                                    <td class="">{{'ome.nome'}}</td>
                                                                                    <td class="">{{total_cotaofexe}}</td>
                                                                                    <td class="td_unidades_right"><i class="valor">{{total_cotaofexe_multiplicado}} </i></td>

                                                                                    <td class="">{{total_cotaprcexe}}</td>
                                                                                    <td class="td_unidades_right"><i class="valor">{{total_cotaprcexe_multiplicado}} </i></td>
                                                                                </tr>
                                                                            {{/each}}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                        
                                                                    <!-- /FIM EXECUÇÃO ENEM -->
                                                            </div>

                                                            <!-- /INICIO SALDO ENEM -->
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Planejado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalDistEnem}} </i></span></small></h3>
                                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Executado:<small><span class="count_bottom"><i
                                                                            class="valor">{{valorFinalExeEnem}} </i></span></small></h3>
                                                            <hr style="margin-bottom: 2px; margin-top: 2px;"></hr>
                                                            <h3 style="margin-bottom: 2px; margin-right: 2px;">
                                                                Saldo:<small><span class="count_bottom"><i
                                                                            class="valor">{{saldoFinalEnem}} <i
                                                                                class="fa fa-sort-asc"></i></i></span></small>
                                                            </h3>
                                                            </br></br>
                                                            <!-- /FIM SALDO ENEM -->
                                                            </div>
                                                    </div>
                                                    <!-- FIM ENEM -->


                                                </div>
                                                <!-- /FIM DIRETORIAS -->

                                                <!-- LISTA GERAL DOS EVENTOS -->
                                                <div class="col-sm-7 mail_view">
                                                    <div class="inbox-body">
                                                        <div class="view-mail card-box table-responsive">
                                                            
                                                            <a href="" type="button" class="btn btn-sm btn_event btn-block" type="button">EVENTOS AUTORIZADOS</a>
                                                            <table id="datatable" style="width:100%; font-size: 11px">
                                                                {{>_msgAdm}}
                                                                <thead>
                                                                    <tr class="th_event">
                                                                        
                                                                        <th>Unidade</th>
                                                                        <th>Operação</th>
                                                                        <th>Evento</th>
                                                                        <th>Of</th>
                                                                        <th>Prç</th>
                                                                        <th><i class="fa fa-book"></i></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {{#each pjes}}
                                                                        <tr>
                                                                            <td>{{ome.nome}}</td>
                                                                            <td>{{operacao}}</td>
                                                                            <td>{{evento}}</td>
                                                                            <td {{#gt cotaofdist count_pg_of}} style="background-color: rgb(167, 221, 164); color: rgb(32, 126, 45);"{{/gt}}>
                                                                                {{cotaofdist}} | {{count_pg_of}}
                                                                            </td>
                                                                            <td {{#gt cotaprcdist count_pg_prc}} style="background-color: rgb(167, 221, 164); color: rgb(32, 126, 45);"{{/gt}}>
                                                                                {{cotaprcdist}} | {{count_pg_prc}}
                                                                            </td>
                                                                            
                                                                            <td>
                                                                                <a href="/unidade/unidadepjes/view/{{id}}" title="Entrar"><i class="fa fa-book"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    {{/each}}
                                                                </tbody>


                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /LISTA GERAL DOS EVENTOS -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


<!-- /FORMATAR A CELULA NO FORMATO DE MOEDA BRASILEIRA -->
<script>
    var elementos = document.querySelectorAll('.valor');
    elementos.forEach(function(elemento) {
    var valor = parseFloat(elemento.textContent);
    elemento.textContent = valor.toLocaleString('pt-BR', {style: 'currency',currency: 'BRL'});
    });
</script>