<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Usuario <small>Detalhes</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a href="/users?page=1"><i class="fa fa-bars text-primary"></i></a></li>
                            <li><a href="/users/edit/{{user.dataValues.id}}"><i class="fa fa-edit text-warning"></i></a></li>
                            <li><a href="/users/edit-password/{{user.dataValues.id}}"><i class="fa fa-key text-success"></i></a></li>
                            <li><a href="/users/edit-image/{{user.dataValues.id}}"><i class="fa fa-image text-primary"></i></a></li>
                            <li><a href="/users/delete/{{user.dataValues.id}}" onclick="return confirm('Tem certeza que deseja excluir este registro?')"><i class="fa fa-trash text-danger"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{>_msgAdm}}
                        <div class="col-md-2 col-sm-2  profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    {{#if user.dataValues.image}}
                                <img class="img-responsive avatar-view" src="/images/users/{{user.dataValues.image}}" width="150px" height="150px" alt="Avatar" title="Change the avatar">
                            {{else}}
                                <img class="img-responsive avatar-view" src="/images/users/user.jpg" width="150px" height="150px" alt="Avatar" title="Change the avatar">
                            {{/if}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10 col-sm-10 ">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Basica</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Trabalho</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Outros</a>
                            </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">



                                <!-- start recent activity -->
                                <div class="col-md-12 ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2><small>Informações</small></h2>
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br />
                                        <form class="form-horizontal form-label-left">
                                            <div class="form-group row ">
                                                <label class="control-label col-md-3 col-sm-3 ">Nome</label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <label class="control-label">
                                                      <a>{{user.dataValues.matricula}}</a>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="control-label col-md-3 col-sm-3 ">Nome</label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <label class="control-label">
                                                      <a>{{user.dataValues.name}}</a>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 ">Email </label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <label class="control-label">
                                                      <a>{{user.dataValues.email}}</a>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 "> Situação</label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <label class="control-label">
                                                      <a href="/situations/view/{{user.dataValues.situationId}}">
                                                        {{user.situation.dataValues.nameSituation}}
                                                      </a>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 "> OME</label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <label class="control-label">
                                                      <a href="/situations/view/{{user.ome.dataValues.omeId}}">
                                                        {{user.ome.dataValues.nome}}
                                                      </a>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="control-label col-md-3 col-sm-3 ">Nome</label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <label class="control-label">
                                                      <a>{{user.dataValues.loginsei}}</a>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                            <div class="ln_solid"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                                <!-- end recent activity -->














                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                <!-- start user projects -->
                                <table class="data table table-striped no-margin">
                                <thead>
                                    <tr>
                                    <th>#</th>
                                    <th>Project Name</th>
                                    <th>Client Company</th>
                                    <th class="hidden-phone">Hours Spent</th>
                                    <th>Contribution</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>1</td>
                                    <td>New Company Takeover Review</td>
                                    <td>Deveint Inc</td>
                                    <td class="hidden-phone">18</td>
                                    <td class="vertical-align-mid">
                                        <div class="progress">
                                        <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>2</td>
                                    <td>New Partner Contracts Consultanci</td>
                                    <td>Deveint Inc</td>
                                    <td class="hidden-phone">13</td>
                                    <td class="vertical-align-mid">
                                        <div class="progress">
                                        <div class="progress-bar progress-bar-danger" data-transitiongoal="15"></div>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>3</td>
                                    <td>Partners and Inverstors report</td>
                                    <td>Deveint Inc</td>
                                    <td class="hidden-phone">30</td>
                                    <td class="vertical-align-mid">
                                        <div class="progress">
                                        <div class="progress-bar progress-bar-success" data-transitiongoal="45"></div>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>4</td>
                                    <td>New Company Takeover Review</td>
                                    <td>Deveint Inc</td>
                                    <td class="hidden-phone">28</td>
                                    <td class="vertical-align-mid">
                                        <div class="progress">
                                        <div class="progress-bar progress-bar-success" data-transitiongoal="75"></div>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody>
                                </table>
                                <!-- end user projects -->

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                photo booth letterpress, commodo enim craft beer mlkshk </p>
                            </div>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->